* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header */
nav {
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.left-nav {
    display: flex;
}


.left-nav img {
    margin-right: 1.25rem;
}

.first-letter-G {
    color: #FF42A5;
    font-size: 2.81rem;
    font-weight: 700;
}

.second-words {
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 700;
}

.right-nav {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}

.right-nav {
    display: flex;
    align-items: center;

}

.right-nav li {
    list-style: none;
    margin-right: 2rem;

}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 10px 18px 24px;
}

.follow .fa-youtube {
    margin-left: 16px;
    color: red;
}

.follow .fa-tiktok {
    margin-left: 8px;
    margin-right: 8px;
}

/* banner */

.banner-section {
    display: flex;
    gap: 60px;
    /* border: 3px solid red; */
    /* height: 700px; */
    width: 100%;
    margin-bottom: 7.5rem;
}

.banner-first-img {
    background-image: url('images/Group\ 14.png');
    /* border: 3px solid black; */
    background-size: 100%;
    width: 50%;
}

.banner-content {
    padding: 150px;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */

    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    margin-top: 1rem;
}

.banner-second-img img {
    width: 80%;
    height: 100%;
}

.btn {
    border-radius: 48px;
    margin-top: 2.5rem;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
}

.btn-primary {
    background: #FF42A5;
    margin-right: 10px;
}

.btn-secondary {
    background: #4EC5F7;
}

/* Online games video */



.games-title-first {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.games-title-second {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-desc {
    color: #534C64;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 1.87rem;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* .online-games-video {
    text-align: center;
} */
.games-cards-part {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.card {
    /* border: 2px solid red; */
    width: 18%;
    margin-right: 20px;
}

.card>img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* Play anywhere
 */

.play-content {
    margin-top: 13rem;
    margin-bottom: 0;
}

.play-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    color: #0B0223;
    line-height: 3.75rem;
    text-align: right;
    /* 125% */
}

.play-first-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-desc {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: right;
    /* 166.667% */
}

.play-img-second {
    position: relative;
    bottom: 17.5rem;
    right: 9rem;
}

.play-anywhere {
    display: flex;
    margin: 0 150px;
    gap: 200px;
}

.play-anywhere img {
    border-radius: 8px;
}


/* button class */

.games-click {
    padding: 120px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.btn-class {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: #FFF;
}

.btn-class:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;

}

.btn-class>p {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

/* footer */

footer {
    background: #0B0223;
    color: white;
    padding: 100px 300px;
}

.footer-second {
    font-size: 2.81rem;
    font-weight: 700;
}

.footer-title {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.footer-ul {
    margin-top: 4rem;
    display: flex;
    gap: 60px;
    justify-content: center;
}

footer li {
    list-style: none;
    text-align: center;
    font-weight: 600;
}

.footer-social>ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 4rem;
}


.footer-social .fa-brands {
    font-size: 25px;
}

.footer-privacy>ul {
    display: flex;
    gap: 60px;
    margin-bottom: 1.125rem;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}



.footer-copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}


.hide {
    display: none;
}

/* Responsive part */

/* Header */

@media screen and (max-width: 576px) {
    /* header */

    /* nav */
    nav,
    .right-nav {
        flex-direction: column;
        padding: 0;
    }

    nav {
        margin-top: 100px;
        justify-content: center;
    }

    .right-nav>li {
        margin: 36px 0;
    }

    /* .,....................................... */

    .banner-section {
        flex-direction: column-reverse;

    }

    .banner-first-img {
        width: 100%;
    }

    .banner-content {
        padding: 0px;
        text-align: center;
    }

    .banner-second-img img {
        padding: 40px;
    }



    /* banner */

    /* games card */

    .games-cards-part {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;

    }



    .card {
        width: 90%;
        flex-direction: column;
        /* margin-right: 20px; */
        margin: 50px 0;
    }

    .card>img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .card>p {
        text-align: center;
    }

    /* instant play */

    .play-anywhere {
        flex-direction: column;
        margin: 0;
        text-align: center;
        justify-content: center;
    }




    /* button */
    .games-click {
        margin-top: 0px;
        padding: 80px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;



    }

    .btn-class {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 50px;

    }

    .btn-class>p {
        font-size: 10px;
        font-weight: 400;
        padding-left: 2px;
    }

    .btn-class>img {
        width: 25%;
    }

    /* footer */

    .footer-privacy ul {
        gap: 5px;
        justify-content: center;
        padding-bottom: 10px;
    }
}